body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar main-content";
    grid-template-columns: 20% 1fr; /* Sidebar takes up 20% of the width, main-content fills the rest */
    grid-template-rows: 50px 1fr; /* Header has a fixed height of 50px */
    height: 100vh; /* Make the container fill the entire viewport height */
}

.sidebar {
    grid-area: sidebar;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.sidebar-section {
    margin-bottom: 20px;
}

.sidebar-section:nth-of-type(2) {
    margin-bottom: 100px;
}

.sidebar-section h3 {
    margin: 0 0 10px 0;
}

.sidebar-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-section ul li {
    margin-bottom: 20px;
}

.header {
    grid-area: header;
    background-color: #999;
    color: #fff;
    padding: 10px;
}

.main-content {
    grid-area: main-content;
    background-color: #f4f4f4;
    padding: 10px;
}
